.btn-go-back {
    /* Agrega sombra al botón */
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: fixed;
    top: 80px;
    left: 20px;
    z-index: 9999;
  }
  
  .btn-go-back:hover {
    transform: scale(1.1);
    background-color: rgb(14, 111, 156);
    color: aliceblue;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); /* Agrega más sombra al hover */
  }
  
  .btn-go-back:active {
    transform: scale(0.9);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1); /* Agrega sombra al pulseo */
  }
  
  .icon-arrow-left {
    fill: #333;
    width: 44px;
    height: 44px;
    transform: rotateY(180deg);
  }
  
  .sr-only {
    position: absolute;
    width: 10px;
    height: 10px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }





/* estilos botones categorias */
.clear{
    clear: both;
}
#header{
    margin:-51px 0px 35px ;
    width: 100%;
}
#header ul{
    list-style: none;
    padding-left: 20vh;
}
ul, ol{
    list-style: none;
}

.nav li a{
    color: #000;
    text-decoration: none;
    padding: 10px 25px;
    display: block;
    cursor: pointer;
    font-size: 20px;
}
.nav li a:hover {
    background-color: rgb(14, 111, 156);
    color: white;
}

.nav > li{
    float: left;
    margin: 0px 25px;
}
.nav li ul{
    display:none;
    position: absolute;
    width: 140px;
}
.nav li:hover > ul{
    display: block;
}
.htitulos {
    border-bottom: 1px solid #000;
    border-radius: 50px;
    box-shadow: 0 0 20px #bca1b6;
    position: relative; /* Agrega este estilo a la clase htitulos */
}




.descripcion-tecnologia {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Cambiado a flex-start para alinear los elementos hijos al inicio (izquierda) */
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
    max-width: 1770px; /* Establece un ancho máximo para el párrafo */
    margin: auto; /* Centra el párrafo horizontalmente y añade espacio arriba y abajo */
    margin-bottom: 40px;
    text-align: justify;
    padding: 15px;
    background-color: #f5f5f5;
    border-left: 5px solid #007BFF;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Opcional: añade una sombra suave para dar profundidad */
  }

  .titulo-y-selector {
    display: flex;
    align-items: center;
    width: 100%; /* Asegura que el contenedor ocupe el ancho completo */
    justify-content: flex-start; /* Alinea los elementos hijos al inicio (izquierda) */
    margin-bottom: 5px; /* Espacio entre el título+selector y el párrafo */
   }

   h1 {
    margin: 0 20px 0 0; /* Añade margen a la derecha del título para separarlo del filtro */
    font-size: 24px;
    font-weight: 600;
    color: #007BFF;
    flex-shrink: 0;
}

.selector-marca {
    display: block; /* Opcional, dependiendo de tus necesidades */
}

.selector-marca select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #bca1b6;
    background-color: #f5f5f5;
    color: #333;
    cursor: pointer;
}

.descripcion {
    text-align: justify;
    width: 100%; /* Asegura que el párrafo ocupe el ancho completo */
}



  /* estilo para el filtro de marcas
   */

  .selector-marca {
    display: flex;
    justify-content: center; /* Centra el selector en el contenedor */
    margin: 20px 0; /* Añade un poco de margen arriba y abajo */
  }
  
  .selector-marca select {
    padding: 10px 15px; /* Añade un poco de padding para mayor comodidad al usar */
    border-radius: 5px; /* Bordes redondeados para un aspecto moderno */
    border: 1px solid #bca1b6; /* Un borde sutil */
    background-color: #f5f5f5; /* Un fondo claro */
    color: #333; /* Texto oscuro para contraste */
    font-size: 1em; /* Un tamaño de letra adecuado */
    cursor: pointer; /* Cambia el cursor para indicar que es interactivo */
  }
  
  /* Estilo para cuando el select está enfocado */
  .selector-marca select:focus {
    outline: none; /* Elimina el contorno por defecto para enfocado */
    border-color: #007BFF; /* Cambia el color del borde para indicar el foco */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Añade una sombra para destacarlo */
  }
  
  
  
  


  /* Estilos generales de la página */
.clear{
    clear: both;
}

#header{
    margin:-51px 0px 35px;
    width: 100%;
}



/* Estilos para la sección de cartas de productos */

.cards {
    width: 100%; /* Ancho del contenedor al 100% */
    min-height: 100vh; 
    background-color: #edf0f4e2; /* Color de fondo */
} 


.cards .container {
    width: 100%;
    max-width: 1200px; /* Ajusta el ancho máximo para que coincida con el del párrafo */
    margin: auto; /* Centra el contenedor */
    padding: 0 15px; /* Añade padding a los lados para no pegar el contenido a los bordes */
}


.contenedorCards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 10px;
  }
  
  .producto {
    margin: 10px;
    border-radius: 5px;
    display: block;
    border: 1px solid #eee;
    background-color: #fff;
    overflow: hidden;
    user-select: none;
    box-shadow: 0 5px 10px 0 rgba(18, 22, 24, 0.2);
    transition: transform 0.3s ease;
    min-width: 280px; /* Ancho mínimo reducido */
    height: 93%; /* Altura máxima reducida para limitar el tamaño de las cartas */

  }
  
  .producto:hover {
    transform: translateY(-5px);
  }
  
  .producto .innerProd {
    height: calc(100% - 20px);
    margin: 10px;
    border-radius: 5px;
    display: block;
    border: 1px solid #eee;
    background-color: #fff;
    overflow: hidden;
    user-select: none;
    transition: ease all 0.3s;
}
.producto .innerProd .imgWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    background-color: #ffffff;
    position: relative;
}
  .producto .innerProd .imgWrapper:hover .imgProd {
    transform: scale(0.8);
}

.producto .innerProd .imgWrapper .imgProd {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px;
    transition: ease all 0.3s;
    font-family: "Inter", sans-serif;
    object-fit: inherit;
}

.producto .innerProd .info {
    padding: 20px 10px;
    text-align: center;
    display: block;
    height: 180px;
    box-sizing: border-box;
}

.producto .innerProd .info .prodName {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: math-auto;
    display: -webkit-box;
    margin: 0 auto;
    margin-bottom: 10px;
    color: #121618;
    font-weight: 600;
    font-size: revert;

}



.producto .innerProd .info .prodDesc {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    margin: 0 auto;
    max-width: 81%;
    font-size: 12px;
    margin-bottom: 10px;
}

.producto .innerProd .info .precios {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}



.producto .innerProd .info .precios .precio,.producto .innerProd .info .precios .infoRapidaModal .modalContainer .topContent .texto .wrapper .precioOferta, .infoRapidaModal .modalContainer .topContent .texto .wrapper .producto .innerProd .info .precios .precioOferta {
    font-size: 25px;
    font-weight: 600;
    color: #232f3dd0;
    margin-top: 26px;
}

.producto .innerProd .info .precios .precio:before, .producto .innerProd .info .precios .infoRapidaModal .modalContainer .topContent .texto .wrapper .precioOferta:before, .infoRapidaModal .modalContainer .topContent .texto .wrapper .producto .innerProd .info .precios .precioOferta:before {
    content: var(--currencyPrefix);
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
}

.producto .innerProd .info .precios .precioOriginal {
    color: rgb(35, 225, 35);
    font-weight: 500;
    text-align: right;
    text-decoration: line-through;
}
.producto .innerProd .info .precios .precioOriginal:before {
    content: var(--currencyPrefix);
    font-size: 14px;
    text-transform: uppercase;
}

.producto .innerProd .info .precios .stock {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: 15px;
    font-weight: 600;
    text-align: right;
}
.producto .innerProd .info .precios .stock:before {
    content: "";
    width: 10px;
    height: 10px;
    min-width: 10px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: green;
}

.producto .innerProd .actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 20px 10px;
}
.boton {
    display: block;
    padding: 10px 20px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 50px;
    background-color: #232f3d;
    transition: ease all 0.3s;
    cursor: pointer;
}
.producto .innerProd .actions .boton {
    margin-bottom: 10px;
    padding: 10px 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: rgb(14, 111, 156);
    cursor: pointer;
    transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) all 0.5s;
}
.boton:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 10px 0 rgba(18, 22, 24, 0.1);
}


.producto .innerProd .actions .Detalle {
    margin-bottom: 30px;
    padding: 10px 20px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    font-weight: 800;
    text-align: center;
    letter-spacing: 6px;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: rgb(14, 111, 156);
    cursor: pointer;
    transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) all 0.5s;
}
.producto .innerProd .actions .Detalle a {
    color: #ffffff; /* Cambia el color del texto al color que desees */
    text-decoration: none;
}
.producto .innerProd .actions .Detalle a:hover {
    color: rgb(85, 255, 47); /* Cambia el color del texto al color que desees */
    text-decoration: none;
}


#vermas{
    text-decoration: none;
    font-size: 40px;
    margin: 0px 0px 0px 872px;
    color: rgb(250, 250, 250);
}
.Detalle:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 10px 0 rgba(12, 15, 16, 0.1);
}

.producto .innerProd .actions .row-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    width: 100%;
}
.producto .innerProd .actions .row-buttons .checkBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: relative;
    cursor: pointer;
}

.producto .innerProd .actions .row-buttons .checkBox input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.producto .innerProd .actions .row-buttons .checkBox .icon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    top: -5px;
    border-radius: 50%;
    border: 1px solid #232f3d;
    position: relative;
}

.producto .innerProd .actions .row-buttons .checkBox input:checked ~ .icon:after {
    width: 80%;
    height: 80%;
}
.producto .innerProd .actions .row-buttons .checkBox .icon:after {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    content: "✓";
    position: absolute;
    width: 0;
    height: 0;
    color: #fff;
    font-size: 10px;
    border-radius: 50%;
    background-color: #47d3e6;
    transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) all 0.3s;
}

.producto .innerProd .actions .row-buttons .checkBox .checkBoxLabel {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.producto .innerProd .actions .row-buttons .favoritos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}
.producto .innerProd .actions .row-buttons .favoritos:after {
    content: "favoritos";
    margin-top: -13px;
}

.producto .innerProd .actions .row-buttons .favoritos .icono {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    color: red;
}
.producto .innerProd .actions .row-buttons .favoritos .icono svg {
    overflow: hidden;
    margin-top: -13px;

}
svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}
.producto .innerProd .actions .row-buttons .favoritos .icono svg path {
    fill: transparent;
    stroke: currentColor;
    stroke-width: 2;
    stroke-miterlimit: 10;
    transition: ease all 0.3s;
}
